---
import Code from "../Icons/Code.astro";
import ProjectCard from "../ProjectCard.astro";
import Docker from "../Icons/Docker.astro";
import FastAPI from "../Icons/FastAPI.astro";
import Java from "../Icons/Java.astro";
import JavaScript from "../Icons/JavaScript.astro";
import MongoDB from "../Icons/MongoDB.astro";
import PostgreSQL from "../Icons/PostgreSQL.astro";
import Python from "../Icons/Python.astro";
import React from "../Icons/React.astro";
import SQLite from "../Icons/SQLite.astro";
import TypeScript from "../Icons/TypeScript.astro";
import SectionTitle from "../SectionTitle.astro";

const techs = {
  PYTHON: {
    name: "Python",
    icon: Python,
  },
  JAVA: {
    name: "Java",
    icon: Java,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypeScript,
  },
  FASTAPI: {
    name: "FastAPI",
    icon: FastAPI,
  },
  REACT: {
    name: "React",
    icon: React,
  },
  SQLITE: {
    name: "SQLite",
    icon: SQLite,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    icon: PostgreSQL,
  },
  MONGODB: {
    name: "MongoDB",
    icon: MongoDB,
  },
  DOCKER: {
    name: "Docker",
    icon: Docker,
  },
};

const projects = [
  {
    title: "Normative's calc-api",
    description:
      "A streamlined carbon accounting engine that calculates the carbon footprint of business activities. As the core of Normative's services, it gathers and analyzes operational data, providing accurate emission insights to aid businesses in reducing their environmental impact.",
    link: "https://normative.io/",
    image: "calc-api.svg",
    technologies: [techs.PYTHON, techs.FASTAPI, techs.SQLITE, techs.POSTGRESQL],
  },
  {
    title: "Infinite's LCA plugin",
    description:
      "INFINITE project revolutionizes building retrofitting with its digital environment for decision-making. Integrated into a BIM-Platform, the LCA plugin facilitates sustainable design at various stages. It combines technical and sustainability data, offering tailored solutions to stakeholders during the renovation process.",
    link: "https://build-up.ec.europa.eu/en/news-and-events/news/new-bim-platform-better-building-data-management",
    image: "infinite.webp",
    technologies: [techs.PYTHON, techs.FASTAPI, techs.POSTGRESQL, techs.REACT],
  },
  {
    title: "openLCA ecosystem",
    description:
      "It integrates advanced modules like olca-ipc, a Python package for efficient inter-process communication (IPC) with openLCA. Additionally, the ecosystem features olca-simapro-csv, a robust API designed for reading and writing the SimaPro CSV format, facilitating easy import into openLCA. Plus, many more tools and packages.",
    link: "https://github.com/GreenDelta",
    image: "openLCA.webp",
    technologies: [techs.JAVA, techs.PYTHON, techs.DOCKER],
  },
  {
    title: "eco2des",
    description:
      "A Python-based framework optimizing industrial processes with a focus on sustainability. It documents life cycle inventories and assesses environmental impacts. The tool integrates physicochemical models and multi-objective optimization algorithms for predictive and adaptive process design.",
    link: "https://www.sciencedirect.com/science/article/abs/pii/B9780128233771503323",
    image: "eco2des.webp",
    technologies: [techs.PYTHON],
  },
];
---

<section id="projects" data-section="projects" class="w-full">
  <SectionTitle><Code class="size-7" />Projects</SectionTitle>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
