---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
//import Card from "../components/Card.astro";
---

<Layout
  title="Miguel-g-c: Sustainability and Backend Engineer"
  description="Explore innovative sustainability engineering projects and advanced carbon accounting systems with Miguel Garcia Casas. Dive into a portfolio showcasing expertise in Life Cycle Assessment (LCA) and backend development for eco-conscious solutions."
>
  <main class="flex flex-col gap-8 items-center px-8 mx-auto max-w-[75ch]">
    <Hero />
  </main>
</Layout>
