---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-between items-center p-4">
  <nav class="px-1 mx-auto max-w-sm rounded-3xl z-100">
    <ul class="flex flex-row justify-center items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
    </ul>
  </nav>
</header>
