---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li>
  <a
    class="block py-2 px-3 tracking-tighter transition hover:text-sky-300 active:text-sky-300"
    href={href}
  >
    <slot />
  </a>
</li>
