---
interface Props {
  id: string;
  href: string;
}

const { id, href } = Astro.props;
---

<a
  id={id}
  class="block py-1 px-3 tracking-tighter transition hover:text-sky-300"
  href={href}
>
  <slot />
</a>
<></>
