---
import NavBar from "./NavBar.astro";
---

<header class="flex justify-between items-center p-4 sticky top-0 z-50">
  <div
    class="border border-black rounded-full bg-black/50 backdrop-blur-xl px-4 mx-auto"
  >
    <NavBar />
  </div>
</header>
