---
import Avatar from "./Avatar.astro";
import GitHub from "./Icons/GitHub.astro";
import LinkedIn from "./Icons/LinkedIn.astro";
import Mail from "./Icons/Mail.astro";
import StatusBadge from "./StatusBadge.astro";

const currentYear = new Date().getFullYear();
const yearsOfExperience = currentYear - 2016;
---

<div class="flex flex-col gap-8 items-center mx-auto mt-16">
  <div class="flex flex-col gap-3 items-center mx-auto">
    <Avatar />
    <nav class="flex flex-row gap-2">
      <a
        href="https://github.com/Miguel-g-c"
        target="_blank"
        aria-label="Visit my GitHub profile"
      >
        <GitHub class="size-8 hover:stroke-sky-300" />
      </a>
      <a
        href="https://www.linkedin.com/in/miguel-garcia-casas-b0b683145/"
        target="_blank"
        aria-label="Connect with me on LinkedIn"
      >
        <LinkedIn class="size-8 hover:stroke-sky-300" />
      </a>
      <a
        href="mailto:miguel.g.c.505@gmail.com"
        target="_blank"
        aria-label="Email me"
      >
        <Mail class="size-8 hover:stroke-sky-300" />
      </a>
    </nav>
    <div class="flex flex-col gap-4 mt-12 mb-2 max-w-[75ch]">
      <div class="flex flex-row gap-4">
        <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl">
          Hey, I'm Miguel
        </h1>
        <StatusBadge>Open for consulting</StatusBadge>
      </div>

      <div class="space-y-2">
        <h2 class="text-lg lg:text-xl text-gray-200">
          Over {yearsOfExperience} years of experience.
          <span class="font-bold text-white">Sustainability Engineer</span> and <span
            class="font-bold text-white">Backend Developer</span
          >. PhD in Industrial Technologies, specializing in <span
            class="font-bold text-white">Life Cycle Assessment (LCA)</span
          > and <span class="font-bold text-white">carbon footprint</span> accounting.
        </h2>
        <p class="text-lg sm:text-xl font-medium text-blue-300">
          I code with a commitment to a sustainable future.
        </p>
      </div>
    </div>
  </div>
</div>
