---
import NavLink from "./NavLink.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<nav class="flex flex-row justify-center items-center">
  <NavLink id="about-link" href="#about" class={className}>About</NavLink>
  <NavLink id="experience-link" href="#experience" class={className}>
    Experience
  </NavLink>
  <NavLink id="projects-link" href="#projects" class={className}>
    Projects
  </NavLink>
  <NavLink id="contact-link" href="#about" class={className}>Contact</NavLink>
</nav>

<script>
  const contactLinks = document.querySelectorAll("#contact-link");
  const aboutSection = document.getElementById("about");
  const icons = document.querySelectorAll(".social-icon");

  contactLinks.forEach((item) =>
    item.addEventListener("click", handleContactClick),
  );

  function handleContactClick() {
    const currentScrollPosition = window.scrollY;
    const targetPosition =
      aboutSection.getBoundingClientRect().top + currentScrollPosition;
    const scrollDistance = Math.abs(currentScrollPosition - targetPosition);
    const scrollTime = scrollDistance / 1.6;

    setTimeout(() => {
      let current = 0;

      function animateIcon() {
        if (current > 0) {
          icons[current - 1].classList.remove("highlight-icon");
        }

        if (current >= icons.length) {
          clearInterval(intervalId);
          return;
        }

        icons[current].classList.add("highlight-icon");
        current++;
      }

      animateIcon();
      const intervalId = setInterval(animateIcon, 500);
    }, scrollTime);
  }
</script>
